.product {
    width: 300px;
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 4px rgb(54, 54, 54);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product img {
    height: 300px;
    border-radius: 8px;
}

.product-info p {
    margin-bottom: 8px;
    margin-top: 12px;
}

.info-price {
    font-weight: bold;
}

.info-name {
    font-size: 1rem;
    overflow: hidden;
}

.info-description {
    font-size: 0.8rem;
}

.info-name {
    font-weight: bold;
}

.info-button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    padding: 8px 16px;
    border: 1px solid black;
}

.info-button:hover {
 background-color: black;
 color: white;
}


